<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="3225d9f55371d234" />
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }} - open source алготрейдинг платформы</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    {% seo %}
</head>
<body>
    <header>
        <div class="header-mobile">
            <div class="logo">
                <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="OS Engine Logo">
                <h1>{{ site.title }} - Open Source AlgoTrading платформы</h1>
            </div>

            <button id="menuButton" class="burger-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>

        <nav>
            <ul class="nav-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="https://t.me/osengine" target="_blank">Чат</a></li>
                <li><a href="/blog/">Блог</a></li>
                <li><a href="/faq/">Гайд</a></li>
                <li><a href="/скачать-os-engine/">Скачать</a></li>
            </ul>
        </nav>
    </header>

    <script>
        document.getElementById('menuButton').onclick = e => {
            e.target.classList.toggle('active');
            document.querySelector('.nav-menu').classList.toggle('active');
        }
    </script>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>Присылайте новости ваших проектов нам <a href="https://t.me/osengine_official" target="_blank">в телеграм</a></p>
    </footer>

<!-- Yandex.Metrika counter -->
<!--script type="text/javascript">
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(98830374, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/98830374" style="position:absolute; left:-9999px;" alt="" /></div></noscript -->
<!-- /Yandex.Metrika counter -->
</body>
</html>