<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }} - open source алготрейдинг платформы</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    {% seo %}
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="OS Engine Logo">
            <h1>{{ site.title }} - Open Source AlgoTrading платформы</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/blog">Блог</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>Связь с нами <a href="https://t.me/osengine_official" target="_blank">в телеграм</a></p>
    </footer>
</body>
</html>