---
layout: default
---

<div class="faq-container">
    <h1>Гайд по OSEngine и алготрейдингу</h1>
    
    {% for section in site.data.faq_sections %}
        {% assign section_data = section[1] %}
        {% assign section_questions = site.faq | where: "section", section[0] | sort: "order" %}
        
        <details class="faq-section">
            <summary>
                <h2>{{ section_data.name }}</h2>
            </summary>
            <div class="faq-links">
                {% for item in section_questions %}
                    <a href="{{ item.url }}" class="faq-link">{{ item.title }}</a>
                {% endfor %}
            </div>
        </details>
    {% endfor %}
</div>