---
layout: default
---
{% assign lang = page.lang | default: "ru" %}
{% assign t = site.data.i18n[lang] %}

<article class="faq-article">
    <div class="faq-breadcrumbs">
        <a href="/{{ lang }}/guide/">{{ t.faq_breadcrumb }}</a> &raquo;
        <span>{{ page.section_name }}</span>
    </div>

    <h1>{{ page.title }}</h1>

    <div class="faq-content">
        {{ content }}
    </div>

    <div class="faq-navigation">
        {% if page.prev_url %}
        <a href="{{ page.prev_url }}" class="prev-faq">&larr; {{ page.prev_title }}</a>
        {% endif %}

        {% if page.next_url %}
        <a href="{{ page.next_url }}" class="next-faq">{{ page.next_title }} &rarr;</a>
        {% endif %}
    </div>
</article>
