---
layout: default
---

<div class="post">
  <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  <div class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</div>

  {% if page.image %}
    <img src="{{ page.image }}" alt="{{ page.title }}" class="post-image">
  {% endif %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.tags.size > 0 %}
    <div class="tags">
      <span>Теги:</span>
      {% for tag in page.tags %}
        <a href="/tags#{{ tag | slugify }}">{{ tag }}</a>
      {% endfor %}
    </div>
  {% endif %}
</div>