---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name headline">{{ page.title }}</h1>
    <p class="meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    </p>
  </header>

  {% if page.image %}
    <img src="{{ page.image }}" alt="{{ page.title }}" class="post-image-post">
  {% endif %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.tags.size > 0 %}
    <div class="tags">
      <span>Теги:</span>
      {% for tag in page.tags %}
        <a href="/tags#{{ tag | slugify }}">{{ tag }}</a>
      {% endfor %}
    </div>
  {% endif %}
</article>